<!DOCTYPE html>
<html ng-app="Mirror">
    <head>
        <meta charset="utf-8" />
        <title>S-Fit Mirror</title>
        <link rel="icon" type="image/png" href="assets/img/sfit-logo-final.png" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.myconstellation.io/js/Constellation-1.8.1.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="https://cdn.myconstellation.io/js/ngConstellation-1.8.1.min.js"></script>
        <script type="text/javascript" src="assets/libs/progressbar.min.js"></script>
    </head>

    <body ng-controller="MyController">
      <div class="day" id="day">
        <div class="dayhour">
          <span>{{time}}</span>
        </div>

        <div class="daydate">
          <span>{{date}}</span>
        </div>

        <div class="daysaint">
          <span>{{nameDay}}</span>
        </div>

        <div class="srss" style="display: inline-flex;">
          <div>
            <img src="assets/img/meteo/sunrise.png"/>
            <br />
            <span class="srhour">{{sunrise}}</span>
          </div>
          <div>
            <img src="assets/img/meteo/sunset.png"/>
            <br />
            <span class="sshour">{{sunset}}</span>
          </div>
        </div>
      </div>

      <div class="meteo" id="meteo">
        <div class="meteoimg" ng-if="weather">
          <img ng-src="assets/img/meteo/{{weather}}.png" />
        </div>

        <div class="meteotemperature">
          <span>{{temperature}} °C</span>
        </div>

        <div class="meteoevent" ng-if="predictionWeather &amp;&amp; predictionTime>1">
          <img ng-src="assets/img/meteo/{{predictionWeather}}.png"/> <span>possible dans {{predictionTime}} heures</span>
        </div>
        <div class="meteoevent" ng-if="predictionWeather &amp;&amp; predictionTime===1">
          <img ng-src="assets/img/meteo/{{predictionWeather}}.png"/> <span>possible dans {{predictionTime}} heure</span>
        </div>
        <div class="meteoevent" ng-if="predictionWeather!='' &amp;&amp; predictionTime===0">
          <img ng-src="assets/img/meteo/{{predictionWeather}}.png"/> <span>Risque imminent</span>
        </div>
      </div>

      <div id="bonjou" class="bonjou">
        <span>{{hello}}</span>
      </div>

      <div ng-hide="username === ''">
          <div class="steps">
            <div id="container"></div>
            <span class="reached" id="reached"> Objectif atteint !</span>
            <img id="feet" src="assets/img/pied2.0.png" />
            <img id="goal" src="assets/img/stars/star2.1.png" />
            <span class="stepSpan">{{step}}</span>
          </div>

          <div class="calendar" id="calendar"></div>
      </div>

      <script type="text/javascript" src="index.js"></script>
    </body>
</html>
