@font-face {
	font-family: "Helvetica";
	src: url('assets/fonts/HelveticaNeueLTStd.ttf');
}

@font-face {
	font-family: "digital-7";
	src: url('assets/fonts/digital-7.ttf');
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
}

.day {
  float: left;
  width: 25%;
  text-align: center;
}

.day .dayhour span {
  font-size: 9vw;
}

.day .daydate span {
  font-size: 2.5vw;
}

.day .daysaint span {
  font-size: 1.5vw;
}

.day .srss img {
  width: 50%;
  height: auto;
}

.day .srss span {
  font-size: 1.5vw;
}

.meteo {
  float: right;
  width: 20%;
  text-align: center;
}

.meteoimg img{
  width: 100%;
  height: auto;
}

.meteotemperature span{
  font-size: 5vw;
}

.meteoevent {
	display: flex;
}

.meteoevent img {
	width: 15%;
	height: auto;
	margin-right:auto;
	margin-left:auto;
}

.meteoevent span {
	font-size: 1vw;
	white-space: nowrap;
	margin: auto;
}
