@font-face {
	font-family: "Helvetica";
	src: url('assets/fonts/HelveticaNeueLTStd.ttf');
}

@font-face {
	font-family: "digital-7";
	src: url('assets/fonts/digital-7.ttf');
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
}

.day {
  float: left;
  width: 25%;
  text-align: center;
}

.day .dayhour span {
  font-size: 9vw;
}

.day .daydate span {
  font-size: 2.5vw;
}

.day .daysaint span {
  font-size: 1.5vw;
}

.day .srss {
	display: inline-flex;
}

.day .srss img {
  width: 50%;
  height: auto;
}

.day .srss span {
  font-size: 1.5vw;
}

.meteo {
  float: right;
  width: 25%;
  text-align: center;
}

.meteoimg img {
  width: 100%;
  height: auto;
}

.meteotemperature span {
  font-size: 5vw;
}

.meteoevent {
	display: flex;
}

.meteoevent img {
	width: 25%;
	height: auto;
	margin-right:auto;
	margin-left:auto;
}

.meteoevent span {
	font-size: 1.7vw;
	white-space: nowrap;
	margin: auto;
}

.bonjou {
	position: absolute;
	top: 50%; left: 50%;
  transform: translate(-50%, -50%);
	cursor: default;
}

.bonjou span {
	font-size: 10vw;
	white-space: nowrap;
}

.steps {
	width: 25%;
	top: 83%; left: 1%;
	text-align: center;
	position: absolute;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
	position: absolute;
  width: 100%;
  height: auto;
}

.steps span {
  font-size: 4vw;
}

.steps #goal {
	position: absolute;
	width: 100%;
	height: auto;
}

.steps #feet {
	position: absolute;
	width: 12%;
	height: auto;
	top: 130%; left: 50%;
  transform: translate(-50%, -50%);
}

.calendar {
	position: absolute;
	width: 25%;
	top: 51%; left: 74%;
	height: 48%;
	display: block;
}

.calendar .event {
	width: 100%;
	position: absolute;
	border: 2px solid #ffffff;
	border-radius: 5px;
	text-align: center;
	display: flex;
	line-height: 1.5vw;
}

.calendar .event .textevent {
	width: 100%;
	margin: auto;
}

.calendar .event .textevent .content {
	font-size: 1.5vw;
	white-space: nowrap;
}

.calendar .event .textevent .horaires {
	font-size: 1vw;
	white-space: nowrap;
}

.calendar .event#event1 {
	height: 15%;
}

.calendar .event#event2 {
	height: 15%;
	top: 16.66%;
}

.calendar .event#event3 {
	height: 15%;
	top: 49.98%
}

.calendar .event#event4 {
	height: 15%;
	top: 66.64%
}
